@font-face {
	font-family: "Cascadia";
	src: local("Cascadia Code"), local("Cascadia"), local("CascadiaCode"),
		url("./fonts/Cascadia.ttf") format("truetype");
}

.home-page {
	min-height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.outer {
		padding-top: 80px;
	}

	#work-button {
		color: white;
		margin-top: 24px;
	}
	.about-text {
		margin-top: 24px;
		text-align: center;
	}
	.white-text {
		color: white;
	}
	.margin-top {
		margin-top: 16px;
	}

	.cascadia {
		color: white !important;
	}

	.AppBar {
		.MuiButton-root {
			color: white;
			z-index: 10;
		}
	}
	.MuiButtonGroup-groupedText {
		border-color: white !important;
	}

	// .shadowed {
	// 	text-shadow: white 0px 0px 4px;
	// }

	.brian-keefe {
		mix-blend-mode: screen;
		background-color: white;
		color: black !important;
		opacity: 0.7 !important;
	}
}

.MuiAppBar-root {
	background: transparent !important;
	box-shadow: none !important;
}

.link {
	text-decoration: none;
}

.projects-page {
	min-height: 100vh;
	width: 100vw;
	.MuiAppBar-root {
		background: transparent;
		box-shadow: none;
	}

	.AppBar {
		.MuiButton-root {
			color: black;
		}
	}
	.src-button {
		float: right;
	}

	.card-actions {
		justify-content: right;
	}
}

.project-card {
	margin-top: 16px;
	margin-bottom: 16px;
	flex-grow: 1;
	display: block;
	.box {
		flex-grow: 1;
		width: 100%;
	}
}

.about-page {
	min-height: 100vh;
	max-width: 100vw;
}

.cascadia {
	color: black;
	font-family: "Cascadia" !important;
}

.center {
	text-align: center;
}

.skewed {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background: #002171;
	z-index: 0;
	transform: skewY(-2deg);
	transform-origin: top left;
}

.AppBar {
	padding-top: 10px;
}