.home-page {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.outer {
		padding: 16px;
		.MuiPaper-root {
			height: 90vh;
			width: 100%;
		}
		padding-top: 96px;
	}
	.cascadia {
		color: white;
		font-family: "Cascadia Code";
		text-align: center;
	}

	#work-button {
		color: white;
		margin-top: 24px;
	}
	.about-text {
		margin-top: 96px;
		text-align: center;
	}
	.white-text {
		color: white;
	}
	.margin-top {
		margin-top: 16px;
	}
	.MuiAppBar-root {
		background: transparent;
		box-shadow: none;
	}

	.AppBar {
		.MuiButton-root {
			color: white;
		}
	}
	.MuiButtonGroup-groupedText {
		border-color: white !important;
	}
}

.link {
	text-decoration: none;
}

.projects-page {
	height: 100vh;
	width: 100vw;
	.MuiAppBar-root {
		background: transparent;
		box-shadow: none;
	}

	.AppBar {
		.MuiButton-root {
			color: black;
		}
	}
}
