.home-page {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.outer {
		padding: 16px;
		.MuiPaper-root {
			height: 90vh;
			width: 100%;
		}
		padding-top: 96px;
	}
	.cascadia {
		color: white;
		font-family: "Cascadia Code";
		opacity: 60%;
		text-align: center;
	}
	.MuiAppBar-root {
		background: transparent;
		box-shadow: none;
	}

	.AppBar {
		.MuiButton-root {
			color: white;
		}
	}
	#work-button {
		color: white;
		margin-top: 24px;
	}
	.about-text {
		margin-top: 96px;
	}
	.white-text {
		color: white;
	}
}
